In [3]:
#import libraries for the data exploration and processing

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
#import the sklearn for logistic regression model building,prediction and performance evaluation purposes

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn import metrics

In [5]:
df = pd.read_csv("Global_Landslide_Catalog_Export.csv", usecols = ['country_name','location_accuracy','landslide_trigger','fatality_count','injury_count'], na_values=['NaN'])
print(df)

      location_accuracy landslide_trigger  fatality_count  injury_count  \
0               unknown              rain            11.0           NaN
1                   5km          downpour             0.0           NaN
2                  10km          downpour            10.0           NaN
3               unknown           monsoon             1.0           NaN
4                   5km  tropical_cyclone             0.0           NaN
...                 ...               ...             ...           ...
11028               5km              rain            27.0           0.0
11029               5km             other             2.0           0.0
11030               1km           unknown             1.0           0.0
11031               1km          downpour            24.0           NaN
11032               1km      construction             2.0           0.0

        country_name
0              China
1      United States
2               Peru
3              Nepal
4        Philippines
...              ...
11028            NaN
11029            NaN
11030            NaN
11031            NaN
11032            NaN

[11033 rows x 5 columns]

In [6]:
#understanding the data characterstics

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11033 entries, 0 to 11032
Data columns (total 5 columns):
location_accuracy    11031 non-null object
landslide_trigger    11010 non-null object
fatality_count       9648 non-null float64
injury_count         5359 non-null float64
country_name         9471 non-null object
dtypes: float64(2), object(3)
memory usage: 431.1+ KB

In [7]:
# Add a new column
df['Outcome'] = ""

In [8]:
df.head()

,location_accuracy,landslide_trigger,fatality_count,injury_count,country_name,Outcome
0,unknown,rain,11.0,NaN,China,
1,5km,downpour,0.0,NaN,United States,
2,10km,downpour,10.0,NaN,Peru,
3,unknown,monsoon,1.0,NaN,Nepal,
4,5km,tropical_cyclone,0.0,NaN,Philippines,

In [9]:
#check if any null values

df.isnull().sum()

location_accuracy       2
landslide_trigger      23
fatality_count       1385
injury_count         5674
country_name         1562
Outcome                 0
dtype: int64

In [10]:
df = df.dropna()

In [11]:
df = df.fillna(0)

In [12]:
#check if any null values

df.isnull().sum()

location_accuracy    0
landslide_trigger    0
fatality_count       0
injury_count         0
country_name         0
Outcome              0
dtype: int64

In [13]:
df

,location_accuracy,landslide_trigger,fatality_count,injury_count,country_name,Outcome
11,exact,unknown,0.0,0.0,United States,
14,5km,downpour,0.0,1.0,Philippines,
56,25km,downpour,22.0,28.0,Brazil,
57,exact,unknown,0.0,0.0,United States,
121,10km,rain,1.0,1.0,Austria,
...,...,...,...,...,...,...
9868,5km,rain,0.0,0.0,United States,
9869,10km,construction,0.0,2.0,Canada,
9871,exact,downpour,0.0,0.0,Malaysia,
9873,5km,downpour,2.0,3.0,Pakistan,
9939,10km,tropical_cyclone,0.0,0.0,Philippines,

In [10]:
#Look at the correlation matrix for the maximum correlated variables with the outcome variable

correlation_matrix = df.corr().round(2)
print(correlation_matrix)

                fatality_count  injury_count
fatality_count            1.00          0.07
injury_count              0.07          1.00

In [11]:
#Seggregating the x variables i.e independent variable and the target y value

x= df[['fatality_count','injury_count']]
y = df.Outcome

#Making a labels array
labels=['fatality_count','injury_count']

In [12]:
#Look at the max and min to check if the data neeeds any normalization

print(x.max())
print(x.min())

fatality_count    5000.0
injury_count       374.0
dtype: float64
fatality_count    0.0
injury_count      0.0
dtype: float64

In [13]:
#Do the normalization on the data for more easier convergence

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
X = pd.DataFrame(x_scaled)

In [14]:
#80% is train data and 20% is test data

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=5)

In [15]:
# instantiate the model (using the default parameters)
logistic_regression = LogisticRegression()

# fit the model with data
logistic_regression.fit(X_train,y_train,x)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: ''